
.footerWrapper{


  position: relative;
}



.wattsLink {
   
    --b: 0.1em;   /* the thickness of the line */
    --c: #654de9; /* the color */
    text-decoration: none;
    color: #0000;
    font-size: 1.2em;
    
    padding-block: var(--b);
  background: 
      linear-gradient(var(--c) 50%,#6b59d4d2 0) 0% calc(100% - var(--_p,0%))/100% 200%,
      linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
    text-align: end;
  }
  
  .wattsLink:hover {
    cursor: url;
    --_p: 100%;
    --_s: .3s;
  }