.backgroundWrapper{
    background-image: url('/images/Chateau-de-la-Valouze-Anneli-Marinovich-Photography-216.jpg');
    background-size: cover;
}

.reviewBox{
    background-color: rgba(240, 231, 225, 0.884);
   
    font-style: italic;
    border-radius: 15px 15px 15px 15px;
}


@media only screen and (max-width: 900px) {

    .backgroundWrapper{
        background-image: url('/images/reviewBackMobile.jpg');
    }
}